.menu__container {
  width: 95%;
  height: 92%;
  position: fixed;
  z-index: 500;
  transition: all 1s ease-out;
}

.Menu__hamburguer {
  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s linear;
  position: absolute;
  z-index: 100;
}



.nav__items {
  position: absolute;
  top: 60px;
  left: 0;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  z-index: 500;
  width: 80%;

  height: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  transform: translateX(-100%);
  transition: all 5s linear;
}

.nav__items a {

  font-family: "Archivo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  width: 100%;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 0.374px;
}

.nav__items.open {
  transform: translateX(0px);
  z-index: 400;
  
}

.nav__close {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}


.nav__title {

  width: 30px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.374px;
  text-align: center;
  color: #ffffff;
}

.menu__nav {
border: 3px solid black;
  position: relative;
  width: 80%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
}

.menu__nav h2 {
  width: max-content;
}

.nav__items button {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 0.374px;
  background: #eb4335;
  border: 1px solid #000000;
  color: white;
}
