h2{
    width: 100%;
    left: 0;
    top: -60px;
    text-align: center;
 }
 
 /*
 .descripcion{
     background-color: #FFFF;
     display: flex;
     justify-content: space-between;
     padding: 5px 30px 5px 35px;
     position: fixed !important;
     align-items:center;
     color: #1DBEB4; 
     top: 0;
     z-index: 999;
     width: 100vw;
     flex-flow: row wrap;
 }
 */
 
 .texto-descripcion{
     font-style: italic;
     font-weight: 300;
     font-size: 20px;
     margin-bottom: 0;
     align-self: center;
     margin-top: 20px;
 }
 
 .desc-detalle{
     padding: 8px 30px;
     font-size: 14px;
     text-align:left;
     justify-content: space-between;
 }
 
 .descripcion h2{
     margin-left: 20px;
 }
 
 .desc-compra{
     color:antiquewhite ;
     font-weight: bold;
     font-size: 1em;
 }
