.cart-counter-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: 2px solid #000000;
}

.cart-counter-container span,
.cart-counter-container button {
    color: #000000;
    font-weight: bold;
    font-size: 1em;
}

.cart-counter-container button {
    border: none;
    padding: 2px 9px;
    background-color: transparent;
    
}

.cart-counter-container button:first-child {
    border-right: 2px solid black;
}

.cart-counter-container button:last-child {
    border-left: 2px solid black;
}