.product-name {
  width: 155px;
  height: 47px;
  box-shadow: 2px 4px 0px #000000;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 10px;
  font-weight: 700;
} 

.texto-descripcion {
  background-color: #FDFD96;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  width: 400px;
  height: 300px;
  
  margin: 0 0 30px 10px;
  box-shadow: 2px 4px 0px #000000;
  border: 2px solid #000000;
}

.product-image {
  width: 280px;
  height: 260px;
  box-shadow: 2px 4px 0px #000000;
  border: 2px solid #000000;
  margin-top: -385px;
  margin-left: 150px;
}

.desc-recomendacion h3{
  width: 300px;
  height: 47px;
  box-shadow: 2px 4px 0px #000000;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 10px;
}

.texto-recomendacion {
  width: 300px;
  height: 90px;
  background-color: #FDFD96;
  box-shadow: 2px 4px 0px #000000;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 10px;
}

.counter {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: px solid #000000;
}

.desc-compra {
  background-color: #FFFF00;
  color: #000000;
  font-weight: bold;
  width: 200px;
  height: 47px;
  box-shadow: 2px 4px 0px #000000;
  border: 2px solid #000000;
  display: flex;
  justify-content:space-between;
  margin: 0 0 30px 10px;
  margin-top: -40px;
  margin-left: 100px;
}

