.rccs {
    margin: 15px auto 10px !important;
}

.card-form {
    padding: 25px;
}

.form-groups-container,
.form-group {
    display: flex;
    padding-bottom: 10px;
}

.form-group {gap: 5px;}

.form-groups-container {gap: 25px;}

input {
    width: 100%;
    padding: 10px;
    background: #FEFEFE;
    border: 2px solid #1F1F1F;
    box-shadow: 3.06667px 3.06667px 0px #1F1F1F;    
    border-radius: 2.3px;
    
}


.form-group label {
    font-size: 1em;
    font-weight: bold;
    margin-left: 5px;
}

.form-group:not(.form-group-special) {
    flex-direction: column;
    margin-bottom: 10px;
}

.form-groups-container .form-group:first-child {
    flex-basis: 60%;
}

.form-groups-container .form-group:last-child {
    flex-basis: 40%;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
    width: 149px;
    height: 47px;
    background-color: #FFFF00;
    border: 2.5px solid #000000;
    box-shadow: 2px 3px 0px #1F1F1F;
}   