.cart-item-container {
    background-color: #FCFCBD;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr 0fr;
    gap: 1em;
    margin-bottom: 2em;
    border: 3px solid #000000;
    box-shadow: 2px 4px 0px #000000;
}


.cart-item-desc {
    margin-left: 12px;
}

.cart-item-desc div:last-child {
    display: flex;
}

.cart-item-desc p {
    margin: 0;
}

.cart-item-desc hr {
    margin: 0 0 5px;
    border: 1px solid black;
    opacity: 1;
    width: 80%;
}

.cart-item-total p:first-child {
    margin-bottom: 5px;
}  

/* ///////////////////7 */


@media (min-width: 1100px) {
  .cart-item-container{
    grid-template-columns: 3fr .3fr 0fr ;
  }
}