.cart-item-container {
    background-color: #FCFCBD;
    width: 90%;
    margin: auto;
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
    margin-bottom: 2em;
    border: 3px solid #000000;
    box-shadow: 2px 4px 0px #000000;
}

.cart-item-container img {
    width: 100%;
}

.cart-item-desc p, 
.cart-item-total p:first-child {
    margin-bottom: 5px;
}